html,body{
    width: 100%;
    height: 100%;
}
#root{
    width: 100%;
    height: 100%;

}

#root .app{
    padding-bottom: 2rem;
    width: 100%;
    height: 100%;

}
.app .app_home{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.app .app_product{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.app .app_discovery{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.app .app_mine{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}